@charset "utf-8";	
/* 載入 */
@media screen and (max-width:1380px) {
.scroll_icon .icon span {
    top: -50px;
}
}
@media screen and (max-width:1250px) {
.logo_w {
    padding: 0px 10% 0px 0px;
}
}
@media screen and (max-width:1199px) {

}
@media screen and (max-width:1185px) {
}
@media screen and (max-width:1030px) {
}

@media screen and (max-width:1000px) {
.kuukan .moji {
    padding: 300px 0px 300px;
}
.kuukan .moji p {
    font-size: 52px;
    width: 60%;
}
.container.cont_01 .wave_border {
    top: -100px;
}
.container.cont_01 .profile .txt {
    margin: 0px;
}
}
@media screen and (max-width:970px) {
}

@media screen and (max-width:950px) {
.header_bor .logo_md {
    display: block;
}
.nav ul li.logo_pc {
    display: none;
}
.nav ul li {
    width: 25%;
}
.header_bor .nav {
    /*height: 50px;*/
}
.nav ul li a {
    padding: 20px 10px;
    line-height: 10px;
}
.nav ul li:hover {
    top: -50px;
}
.container.cont_01 .wave_border {
    /*top: -100px;*/
}
.bg_1:after {
    /*background: url(../images/028_m.jpg) center 0 no-repeat;*/
    background-size: cover;
}
.scroll_icon .icon span {
    top: -50px;
}
}


@media screen and (max-width:925px) {

}


@media screen and (max-width:900px) {
.header {
    display: none;
}
.header2 {
    display: block;
}
.index_cases .product ul li {
    width: 50%;
    margin-top: 0%;
}
/*.index_cases .product ul li a .txt {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}
.index_cases .product ul li a .txt h3 {
    position: absolute;
    margin-top: 0%;
    padding: 5px;
    background-color: rgba(14, 12, 0, 0.8);
    display: block;
    width: 100%;
    top: inherit;
    bottom: 0%;
    box-sizing: border-box;
}*/
.index_art .picture ul li {
    width: 50%;
    margin-top: 0%;
}
.container.cont_01 .profile .pic {
    width: 100%;
    /*max-width: 320px;*/
    margin: 0px auto;
    float: none;
}
.container.cont_01 .profile .txt {
    margin-top: 80px;
    width: 100%;
    float: none;
    padding: 0px;
}
.container.cont_01 .profile .txt .pro_cont {
    padding: 10px;
}
.container.cont_cases {
    padding-top: 70px;
    background-size: 215%;
    background-position: initial;
    background-position: top;
    background-attachment: initial;
    /*background-image: url(../images/w_cases_mb.jpg);*/
}
.cases_page .sidebar {
    display: none;
}
.cases_page .sidebar2 {
    display: block;
}
.cases_page .container {
    width: 100%;
}
.cases_page .container h1 {
    font-size: 26px;
}
.cases_page .container .cont .txt {
    margin: 20px 0px 10px;
    font-size: 14px;
}
.cases_page .cases_title {
    display: block;
}
}


@media screen and (max-width:880px) {

}


@media screen and (max-width:860px) {
}

@media screen and (max-width:817px) {

}

@media screen and (max-width:770px) {
}

@media screen and (max-width:740px) {
}

@media screen and (max-width:700px) {
.kuukan .moji p {
    font-size: 32px;
    padding: 50px 20px 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.wave_border .awadarake .awa.v1 {
    width: 40px;
    height: 40px;
}
.wave_border .awadarake .awa.v2 {
    width: 10px;
    height: 10px;
}
.wave_border .awadarake .awa.v3 {
    width: 30px;
    height: 30px;
}
.wave_border .awadarake .awa.v4 {
    width: 20px;
    height: 20px;
}
.wave_border .awadarake .awa.v5 {
    width: 30px;
    height: 30px;
}
.wave_border .awadarake .awa.v6 {
    width: 10px;
    height: 10px;
}
.wave_border .awadarake .awa.v7 {
    width: 20px;
    height: 20px;
}
.wave_border .awadarake .awa.v8 {
    width: 40px;
    height: 40px;
}
.wave_border .awadarake .awa.v9 {
    width: 10px;
    height: 10px;
}
.wave_border .awadarake .awa.v10 {
    width: 30px;
    height: 30px;
}
}

@media screen and (max-width:688px) {
}

@media screen and (max-width:677px) {
}


@media screen and (max-width:610px) {
}

@media screen and (max-width:594px) {

}

@media screen and (max-width:555px) {
}

@media screen and (max-width:530px) {
	
}

@media screen and (max-width:497px) {	/*手機*/
.karilogo {
    font-size: 18px;
}
.kuukan .moji {
    padding: 280px 0px 280px;
}
.kuukan .moji p {
    font-size: 24px;
    padding: 30px 10px 20px;
    border: 5px solid #fff;
}
.m_nav_btn {
    display: inline-block;
    float: right;
    margin-right: 15px;
    width: 28px;
}
.container.cont_01 .title {
    padding: 40px 0px 30px;
}
.container.cont_01 .profile {
    margin: 50px 0px;
}
.container.cont_01 .profile .txt {
    margin-top: 50px;
}
.index_cases .product {
    margin: 30px 0px 0px;
}
.index_cases .product ul li {
    width: 100%;
}
.index_cases .product ul li a .txt h3 {
    margin-top: -5%;
}
.index_art .picture ul li {
    width: 100%;
}
.index_art .picture {
    margin: 30px 0px;
}
.index_contact .connection {
    margin: 50px 0px 50px;
}
.space {
    height: 30px;
}
.container .title h3 {
    font-size: 25px;
}
.container .title h2 {
    font-size: 35px;
}
.container.cont_cases {
    padding-top: 40px;
    background-size: 225%;
}
.cases_page {
    padding: 0px 10px 50px;
}
.cases_page .container .cont {
    padding: 20px;
}
.cases_page .container h1 {
    padding: 10px 0px 30px;
    font-size: 18px;
}
.cases_page .container .cont .pic img {
    width: 94%;
    padding: 2% 3%;
}
.cases_page .cases_title {
    font-size: 22px;
}
.cases_page .container .cont .pic .w50p {
    width: 100%;
    float: none;
}
.cases_page .container .cont .pic .w50p.v2 {
    padding: 10% 0% 0%;
}
.cases_page .container .cont .pic .w50p img {
    width: 100%;
    padding: 0%;
}
}

@media screen and (max-width:486px) {

}

@media screen and (max-width:467px) {   /*I6+*/
}


@media screen and (max-width:440px) { 

}
@media screen and (max-width:433px) {
}

@media screen and (max-width:431px) {

}

@media screen and (max-width:400px) {
.kuukan .moji {
    padding: 250px 0px 250px;
}
}


@media screen and (max-width:385px) {
}

@media screen and (max-width:375px) {

}


@media screen and (max-width:371px) {

}

@media screen and (max-width:364px) {
.logo_mb_w a {
    max-width: 150px;
    margin: 0px auto;
}
.m_btn {
    width: 25px;
    height: 36px;
}
}	
	
@media screen and (max-width:356px) {   

}

@media screen and (max-width:347px) {   

}

@media screen and (max-width:335px) {
.kuukan .moji {
    padding: 180px 0px 220px;
}

}

@media screen and (max-width:325px) {  
.kuukan .moji {
    padding: 160px 0px 240px;
}

}


@media screen and (max-width:319px) {

}

@media screen and (max-width:317px) { 
}

@media screen and (max-width:306px) {  
}






